/*  Drew Klepfer
    Lab1 scss
*/

@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import "pageloader";
@import "particles";

* {
    box-sizing: border-box;
}

//variables
$white-color: #fff;
$main-color: #697e83;
$display-style: inline-block;

body {
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    font: 20px/1.5 'nunito', sans-serif;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
    text-align: center;
    padding: 2rem 4rem;
}

header .logo {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: white;
    padding: 1em 3.5em 1em 0.5em;
}

header nav {
    background: transparent !important;
    text-align: center;
}

nav{
    ul{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        text-align: center;
        transition: max-height 0.3s;
    }
    li{
        list-style: none;
        padding: 1em 0;
    }
    a{
        color: $white-color;
        font-weight: 300;
        opacity: 1;
        text-decoration: none;
        transition: 0.3s all ease;
    }
}

nav a:hover{
    opacity: 0.6;
    color: $white-color;
}

a {
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    text-decoration: none;
}

/* classes */
.heroitems{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 2;
    h1{
        font-size: 3em;
        color: $white-color;
    }
    p{
        font-size: 1.4em;
        padding-bottom: 2rem;
        color: $white-color;
    }
}

.heroimage:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.heroimage {
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 100vh;
}

.main-padding {
    padding: 7em 0em;
}

.sideleft {
    text-align: center;
}

.sub-heading {
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
    letter-spacing: 0.1em;
}

.heading {
    font-size: 50px;
    margin-bottom: 30px;
}
button{
    margin-top: 0 !important;
}

.button {
    background-color: $main-color;
    transition: 0.3s all ease;
    padding: 12px 30px;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $white-color;
    border: 1px solid $main-color;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.button:hover{
    color: $main-color;
    background-color: white;
}

/* .sideright{
    
} */

.bg-color{
    background-color: #f8f9fa !important; 
}

.feature{
    text-align: center;
}

.feature-image{
    position: relative;
    text-align: center;
}

.feature-image img{
    display: $display-style;
    width: 300px;
    margin: 1em;
}

.newsletter{
    padding: 2.4em;
    color: $white-color;
    background: #35424a;
    overflow: hidden;
}

.newsletter-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.newsletter input[type="email"]{
    padding: 20px 30px;
    height:2.8em;
    width:250px;
    outline: none;
}

.footer{
    text-align: center;
    margin-bottom: 4em;
    flex: 1;
}

.footer-grid{
    display: flex;
}

.main-footer{
    padding: 4em 0em 0.9em 0em;
    background: #f2f2f2;
}

.copyright{
    text-align: center;
}

.date{
    text-align: center;
}

.header-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 4rem;
}

/* rooms page */
.rooms{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.rooms-pic-1{
    position: relative;
    overflow: hidden;
    padding: 0 1em;
}

/* .rooms-pic-1 figure{

} */

.rooms-body{
    background-color: white !important;
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-top: none;
}

figure .img{
    max-width: 100%;
    height: auto;
}

.contactform input[type="text"]{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: $white-color;
    background-clip: 1px solid #ced4da;
    border: 1px solid #ced4da;
}
.contactform input[type="email"]{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: $white-color;
    background-clip: 1px solid #ced4da;
    border: 1px solid #ced4da;
}
.contactform textarea{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: $white-color;
    background-clip: 1px solid #ced4da;
    border: 1px solid #ced4da;
}

.contactform{
    width: 70%;
    padding-bottom: 3em;
    margin: auto;
}

.container-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin: 0.2em 2em 0.2em 2em;
}

.item>a>img{
    width: 100%;
    height: 100%;
}

.item>a>img:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0,0,0,0.22);
    cursor: pointer;
    filter: property blur(2px) brightness(60%);
}

.label{
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
    color: $white-color;
}

//id
#toggle{
    display: none;
}

@media(max-width: 992px){
    .label{
        display: block;
        cursor: pointer;
    }
    nav ul{
        text-align: center;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
        top: 5.6em;
        width: 80%;
        left: 10%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 0;
        overflow: hidden;
    }
    nav a{
        opacity: 1;
    }
    #toggle:checked + .menu{
        max-height: 300px;
    }
    header .logo{
        float: left;
        padding: 1em 0.5em 0.5em 0.5em;
    }
    .menu a{
        display: block;
        margin: 0;
    }
    .heroitems{
        height: 100vh;
    }
    .heroitems h1{
        font-size: 40px;
    }
    .sideleft{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    } 
    .sideright{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .newsletter{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    } 
    h1{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .newsletter form{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .footer{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    } 
    .feature-image img{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .newsletter input[type="email"]{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    } 
    button{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
        margin-top: 0 !important;
    } 
    .contactform{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    } 
    .button{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    textarea{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    } 
    .rooms-pic-1{
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .rooms-pic-1{
        max-width: 100%;
    }
    .sideleft{
        padding-bottom: 1em;
    }
    .sideleft img{
        width: 80%;
    }
    .main-padding{
        padding: 2em 0;
    }
    .heroitems p{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .footer{
        margin-bottom: 1em;
    }  
    .pagination{
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        list-style-type: none;
        border-radius: .25rem;
        background-color: $white-color;
    }
    .page-item{
        background-color: inherit;
        top: 0;
    }
}
@media(max-width: 600px){
    .rooms{
        grid-template-columns: 1fr;
    }
    .newsletter-grid{
        grid-template-columns: 1fr;
    }
    .footer-grid{
        grid-template-columns: 1fr;
        display: block;
    }
    .main-grid{
        grid-template-columns: 1fr;
    }  
}
@media(max-width: 480px){
    .heroitems h1{
        font-size: 30px;
    }
    .heroitems p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .page-link{
        font-size: small;
    }
}